@{
    ViewBag.Title = "Allstudent";
}
@model List<atp2labtask1.Models.Student>
<h2>Allstudent</h2>

<div class="container">
    <table class="table table-condensed">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Cgpa</th>
            <th>Credit</th>
            <th>Department Id</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var student in @Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Dob</td>
                <td>@student.Cgpa</td>
                <td>@student.Credit</td>
                <td>@student.DeptId</td>
                <td><a class="btn btn-success" href="/Home/EditStudent/@student.Id">Edit</a></td>
                <td><a class="btn btn-danger">Delete</a></td>
            </tr>
        }

    </table>
</div>